<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>File:</b>
  <%= link_to "Download file", @item.file.url(:original, { :expires => Time.now + 60.seconds, :protocol => 'https' }) %>
</p>

<%= link_to 'Edit', edit_users_item_path(@item) %> |
<%= link_to 'Destroy', users_item_path(@item), confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', users_items_path %>
