<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>User:</b>
  <%= @item.user.email %>
</p>

<p>
<b>file</b>
  <%= @item.file.item_id %>
</p>

<%= link_to 'Back', items_path %>
