<div class="hero-unit">

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %> zł
</p>

<p>
  <b>User:</b>
  <%= @item.user.email %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category_id %>
</p>

<p>
<%= form_tag( @transaction.new_url) do %>
  <%= transaction_hidden_fields @transaction %>
  <%= submit_tag 'Zapłać', :class =>'btn btn-primary btn-large' %>
<% end %>
</p>
<%= link_to 'Back', items_path %>
</div>

<div class="hero-unit">
<h3>Comments</h3>
  <%= comments_for @item %>
</div>
